name: Terraform Apply
on:
  schedule:
    - cron:  '0 1,13 * * *'
jobs:
  terraform_apply:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Install Terraform
      env:
        TERRAFORM_VERSION: "0.12.15"
      run: |
        tf_version=$TERRAFORM_VERSION
        wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        unzip terraform_"$tf_version"_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
    - name: Verify Terraform version
      run: terraform --version

    - name: Terraform init
      env:
        OS_ACCESS_KEY: ${{ secrets.FE_ACCESS_KEY_ID }}
        OS_SECRET_KEY: ${{ secrets.FE_SECRET_ACCESS_KEY }}
      run: terraform init -input=false

    - name: Terraform validation
      run: terraform validate

    - name: Terraform apply
      env:
        FE_ACCESS_KEY_ID: ${{ secrets.FE_ACCESS_KEY_ID }}
        FE_SECRET_ACCESS_KEY: ${{ secrets.FE_SECRET_ACCESS_KEY }}
        TF_VAR_KEY_PAIR: ${{ secrets.FE_KEY_PAIR }}
      run: terraform apply -auto-approve -input=false
      
    - name: Terraform destroy
      env:
        FE_ACCESS_KEY_ID: ${{ secrets.FE_ACCESS_KEY_ID }}
        FE_SECRET_ACCESS_KEY: ${{ secrets.FE_SECRET_ACCESS_KEY }}
        TF_VAR_KEY_PAIR: ${{ secrets.FE_KEY_PAIR }}
      run: terraform destroy -auto-approve -input=false   
